@import "../../stylesheets/tokens.scss";


.c-Transactions {
  margin-top: $space-s;
  border-collapse: collapse;
  width: 100%;
}

.c-Transactions__Row {
  background-color: $color-light;
  border-bottom: $line-thin solid $color-bright;
}

.c-Transactions__Date,
.c-Transactions__Amount {
  padding: $space-s;
}

// .c-Transactions__Date {}

.c-Transactions__Amount {
  font-weight: bold;
  text-align: right;
  color: $color-dark;
}

.c-Transactions__Currency {
  display: inline-block;
  margin-right: 2px;
  color: $color-medium;
  font-size: 12px;
}
