@import "../../stylesheets/tokens.scss";


.c-Item {
  padding: $space-s 0;
}

.c-Item__Header {
  display: flex;
  user-select: none;
}

.c-Item__Summary {
  flex-grow: 1;
}

.c-Item__Title {
  margin-top: .3em;
  margin-bottom: .3em;
  font-weight: bold;
  color: $color-dark;
}

// .c-Item__Secondary {}

.c-Item__Action {
  display: flex;
  flex-direction: rows;
  align-items: center;
}

.c-Item__Details {
  display: none;
}


// Open state
// ----------
.c-Item--Open {
  .c-Item__Details {
    display: block;
  }
}
